.container {
  background-color: #0b0c10;
  padding: 0 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  line-height: 2.2;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: space-around;
}

.filter-container > * {
  margin-right: 0.5rem;
}

.filter-container input {
  background-color: #202833;
  padding: 8px;
  border: none;
  border-radius: 4px;
  /* border-bottom: 1px solid white; */
  outline: none;
  color: #c5c6c8;
}

.filter-container input:focus {
  color: #46a29f;
}

.filter-container button {
  padding: 8px 16px;
  background: none;
  border: 2px #46a29f solid;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.filter-container button:hover {
  background-color: #46a29f;
}

.genres {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genre {
  display: inline-block;
  margin: 0.3rem 0.3rem;
  border: 1px #46a29f solid;
  background: none;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.genre:hover {
  background-color: #46a29f;
}

.active {
  background-color: #46a29f;
}
