.footer {
  background-color: #202833;
  min-height: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > h2 {
  line-height: 1.5;
}
