.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 85px;
}

.button {
  color: white;
  background: none;
  border: none;
  font-size: larger;
  cursor: pointer;
}

.active {
  color: #46a29f;
}

.dropdown {
  position: absolute;
  top: calc(100%);
  left: 0;
  background-color: #202833e0;
}

.menu {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.menu-item {
  text-align: start;
  width: 140px;
}

.menu-item a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 4px 10px;
}

.menu-item a:hover {
  background-color: #46a29f;
}
