.header {
  height: 100px;
  padding: 0 5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.logo img {
  height: 100%;
}

.navigation {
  display: flex;
}
