.section {
  margin-top: 2rem;
}

.section-title {
  font-size: xx-large;
  text-align: start;
  line-height: 1.2;
  color: #46a29f;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

@media only screen and (max-width: 800px) {
  .movie-list {
    grid-template-columns: repeat(2, 50%);
  }
}
