.section {
}

.section-title {
  text-align: start;
  font-weight: bold;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

@media only screen and (max-width: 800px) {
  .movie-list {
    grid-template-columns: repeat(2, 50%);
  }
}
