@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
